body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);;
}
.container {
    padding: 50px 20px;
    background-color: #dcdcdc;
}
.important {
    border-color: red;
    background-color: #FFC8D2;
}
.done {
    text-decoration: line-through;
}